<div id='menu_container'>
    <div id='menu_header'>
        Lyons CMS
    </div>
    <div id='menu_buttons'>

    <a href="#">
        <div class='button menu_button' style='margin: 0px; padding: 7px;' class='button'>
            Back
        </div>
    </a>
<!--
        <div class='button menu_button' style='margin: 0px; padding: 7px; position: relative;' class='button'>
            <div id='quick_jump_button'>
                Quick Jump
            </div>
            <div id='quick_jump_menu'> 
                <table class='.table'>
                    <tbody>
                    <tr><td>Test1</td></tr>
                    <tr><td>Test2</td></tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <a href='#'>
            <div class='button menu_button' style='margin: 0px; padding: 7px;' class='button'>
                Home
            </div>
        </a>
        <a href='#'>
            <div class='button menu_button' style='margin: 0px; margin-right: 5px; padding: 7px;' class='button'>
                Logout
            </div>
        </a>
    </div>
</div>